{% extends "auctions/layout.html" %}

{% block body %}

{% if auction %}

<div class="d-flex flex-row justify-content-between">
  <div class="mx-4">
    <span style="font-size: 32px;">{{ auction.item_name }}</span>
  <span>
    {% if auction.active %}
    <label class="text-success" style="font-size: 20px; vertical-align: bottom;">(Active)</label>
    {% else %}
    <label class="text-muted">(Closed)</label>
    {% endif %}
  </span>
  </div>

  <div class="d-flex flex-row mx-4">
  <div class="mx-4">
  {% if user.is_authenticated and user == auction.author and auction.active %}
    <form action="{% url 'close_auction' auction.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" name="Close auction" id="close_auction" value="Close auction">
    </form>
  {% endif %}
  </div>

    {% if user.is_authenticated %}
    {% comment %} and user != auction.author {% endcomment %}
    {% if is_watched %}
    <form action="{% url 'remove_from_watchlist' auction.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" name="Remove from watchlist" id="remove_from_watchlist" value="Remove from watchlist">
    </form>
    {% else %}
    <form action="{% url 'add_to_watchlist' auction.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" name="Add to watchlist" id="add_to_watchlist" value="Add to watchlist">
    </form>
    {% endif %}
    {% endif %}
  </div>
</div>

{% if winner_user %}
<div class="alert alert-success">
  <p><strong>Congratulations!</strong>You win auction!</p>
</div>
{% endif %}

{% if user.is_authenticated and bidform and auction.active %}
{% if bid_error_message %}
{% if bid_error_message != '' %}
<div class="alert alert-danger">
  <p>{{ bid_error_message }}</p>
</div>
{% endif %}
{% elif bid_successfull == True %}
<div class="alert alert-success">
  <p>You have successfully made a bid!</p>
</div>
{% endif %}
{% endif %}

<div class="d-flex flex-row justify-content-between my-2 mx-4">
  <div class="d-flex flex-column">
    <div class="container">
      <p class="text-muted">Description:</p>
      <p>{{ action.item_description }}</p>
      <p class="text-muted">Category:</p>
      {% if auction.category %}
      {{ auction.category.name }}
      {% else %}
      <p>No category.</p>
      {% endif %}
      <p class="text-muted">Seller:</p>
      <p{{ authorFullName }}></p>
    </div>
  </div>
  <div class="d-flex flex-column">
    {% if auction.picture_url != '' %}
    <div>
      <img src={{ auction.picture_url }} class="img-thumbnail" alt="picture url" width="304" height="236">
    </div>
    {% endif %}
    <h3>Start bid:</h3>
    <p class="text-danger" style="font-size: 18px;">{{ auction.start_bid }}</p>
    <h3>Current bid:</h3>
    <p class="text-danger" style="font-size: 18px;">{{ auction.current_bid }}</p>

    {% if user.is_authenticated and bidform and auction.active %}
    <div class="form-group">
      <form action="{% url 'auction' auction.id %}" method="POST">
        {% csrf_token %}
        {{ bidform.as_p }}
        <input type="submit" value="Bid" class="btn btn-primary">
      </form>
    </div>
    {% endif %}
  </div>
  <div class="d-flex flex-column">
    <h3>Comments:</h3>
    {% if user.is_authenticated %}
    <div class="container">
      <div class="form-group">
        <form action="{% url 'auction' auction.id %}" method="POST">
          {% csrf_token %}
          <label for="comment_text">Add comment:</label>
          <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
          <input type="submit" value="Add comment" class="btn btn-primary mt-2">
        </form>
      </div>
      {% endif %}
      <div class="form-group" id="comments_group">
        {% for comment in comments %}
        <div>
          <div>
            <label class="text-secondary" style="font-size: 12px;">{{ comment.author }} ({{ comment.date }})</label>
          </div>
          <div>
            <label>{{ comment.text }}</label>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
<h4 class="text-muted">Something went wrong. Please try again later.</h4>
{% endif %}
{% endblock %}